.row{
   margin-right: -3.75rem;

   &--gutter > div{
       padding-right: 3.75rem; 
   }

   &--top-margin{
       padding-top:80px; 
   }
   &__image{
       margin-left:auto;
       margin-right:auto;
   }
   
   .flexbox &--same-height-at-medium{
       @mixin atMedium{
           display: flex;
       }
       & > div{
           float: none;
           display: flex;
       }
   }  
   
   .flexbox &--same-height-at-large{ 
        @mixin atLarge{
            display: flex;
        }
        & > div{
            float: none;
            display: flex;
        }
    }
   @mixin clearfix;
   
   @mixin atMedium{
    
        &__medium-6{
            float: left;
            width:50%;
            margin-right:0rem;
        }

        &__medium-8{
            width: 66.66%;
            float: right;
        }
        &__medium-4{
            width: 33.33%;
            float: left;
        }

   }
   
   @mixin atLarge{
    
        &__large-6{
            float: left;
            width:50%;
            margin-right:0rem;
        }

        &__large-8{
            width: 66.66%;
            float: right;
        }
        &__large-4{
            width: 33.33%;
            float: left;
        }

    }


   @mixin atSmall{
    font-size: 1.2rem;
    line-height: 1.5rem;
   }


}