.section-item{
    padding-bottom: 3rem;
    position: relative;
    &__title{
        font-size: 1.6rem;
        font-weight:300;
        text-align:center;
        @mixin atSmall{
            font-size:2rem;
        }
    }
    &__icon{ 
        display: block;
        margin:0 auto;
        @mixin atSmall{
            left:1.8rem;
            position: absolute;
            top:-20px;
        } 
    }
    @mixin atSmall{
    padding-left:6rem;
    } 
}